body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

html, body {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: 400
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.text-center {
    text-align: center
}

.hidden {
    display: none
}

@media only screen and (min-width: 769px) {
    .float-img-left {
        float: left;
        margin: 10px 20px 10px 0
    }
}

@media only screen and (max-width: 768px) {
    .float-img-left {
        display: block;
        margin: 10px auto
    }
}

.hide {
    opacity: 0
}

.fontsmall {
    font-size: 80%
}

body {
    background: #fff;
    color: #111;
    font-size: 15px;
    font-family: sans-serif
}

table {
    border: 0
}

a {
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

a:link, a:visited {
    color: #0074D9
}

a:hover {
    color: #39CCCC
}

p {
    text-align: justify
}

img.thumb {
    flex-shrink: 0;
    min-width: 100px
}

.alert {
    background: #f2f2f2;
    border-style: dashed;
    border-width: thin;
    margin: 20px 10%;
    padding: 20px
}

.details:hover {
    background-color: rgba(142, 151, 158, 0.1);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    overflow: hidden
}

.details {
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    overflow: hidden
}

.details > a {
    flex-shrink: 0
}

@media only screen and (max-width: 768px) {
    .details {
        flex-direction: column
    }
}

@media only screen and (min-width: 769px) {
    .details img {
        padding-right: 20px
    }
}

#main {
    padding-bottom: 40px;
    width: 100%
}

#main h1, #main h2 {
}

#main h1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px
}

#main h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px
}

#main h3 {
    font-size: 1.2em;
    margin-top: 10px
}

#main p {
    margin: 20px 0;
    line-height: 20px
}

#main p.small {
    margin: 20px 0;
    line-height: 1px;
}

#main li {
}

#main div.abstract {
    text-align: justify
}

#main div.abstract p {
    margin: 15px
}

#main div.abstractbox {
    display: none;
    text-align: justify;
    margin: 0;
    padding: 0 10px;
    border: 1px solid gray;
    max-width: 700px
}

#main div.abstractbox p {
    margin: 10px
}

#main input.button {
    color: #AA3939;
    background: none;
    border: 0;
    margin: 0;
    padding: 0
}

#main div.footnotes {
    margin-top: 20px
}

#main div.footnotes p {
    margin: 0
}

@media only screen and (min-width: 769px) {
    #content ul, #content ol {
        margin-left: 30px
    }
}

#content ul > li, #content ol > li {
    margin: 5px
}

#content ul {
    list-style-type: square
}

#content ol {
    list-style-type: decimal
}

div.langflag img {
    border: 1px solid gray
}

#menubar h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #333;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700
}

#menubar li {
    text-align: left;
    line-height: 14px;
    margin: 10px 0
}

#home h2 {
    font-size: 1.5em;
    font-weight: 700
}

#home h3 {
    font-size: 1.17em;
    font-weight: 700
}

#home td {
    margin: 0;
    padding: 1px
}

#home > div#portrait {
    max-width: 850px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    line-height: 20px
}

@media only screen and (max-width: 768px) {
    #home > div#portrait {
        flex-direction: column
    }
}

#home > div#portrait > span#portraitimage {
    flex-shrink: 0;
    width: 228px;
    height: 250px;
    position: relative
}

@media only screen and (max-width: 768px) {
    #home > div#portrait > span#portraitimage {
        margin: 10px 0
    }
}

#home > div#portrait > span#portraitimage > img {
    position: absolute;
    left: 0;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out
}

#home > div#portrait > span#portraitimage > img.bottom {
    z-index: -1
}

#home > div#portrait > span#portraitimage > img.top:hover {
    opacity: 0
}

#home > div#portrait h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 1em
}

#home > div#portrait h2 {
    font-size: 1.2em;
    font-family: sans-serif;
    margin-bottom: 1em
}

#home > div#portrait ul {
    margin-left: 0;
    margin-bottom: 1em
}

#home > div#portrait .header {
    float: left;
    font-weight: 700;
    min-width: 80px
}

#home > div#portrait img {
    height: 250px;
    width: auto;
    padding: 0 20px;
    max-width: 100%
}

#home div#homebody h4 {
    margin: 20px;
    font-weight: 700
}

#home div#homebody ul#newslist {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

@media only screen and (min-width: 769px) {
    #home div#homebody ul#newslist {
        margin: 20px 60px 20px 30px
    }
}

#home div#homebody ul#newslist li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: .85em
}

@media only screen and (min-width: 769px) {
    #home div#homebody ul#newslist li .newsdate {
        min-width: 100px
    }
}

@media only screen and (max-width: 768px) {
    #home div#homebody ul#newslist li .newsdate {
        min-width: 80px
    }
}

#home div#homebody ul#newslist li .newstext {
    text-align: justify;
    width: 100%
}

#home div#homebody ul#newslist li:nth-child(n+10) {
    display: none
}

#home div#homebody a#morenews {
    margin-left: 60px
}

@media only screen and (min-width: 769px) {
    #research ul.publist {
        margin-left: 60px
    }
}

@media only screen and (max-width: 768px) {
    #research ul.publist {
        margin-left: 10px
    }
}

#project img {
    display: block;
    height: auto
}

#project ul.newsimages {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

#project ul.newsimages > li.imagegroup {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-shrink: 1
}

#project ul.newsimages > li.imagegroup img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

@media only screen and (max-width: 768px) {
    #project img {
        margin: 0 auto;
        max-width: 100%
    }
}

@media only screen and (min-width: 769px) {
    #project img {
        margin: 10px 0;
        max-width: 80%
    }
}

@media only screen and (min-width: 769px) {
    #project .float-img-left {
        float: left;
        margin: 10px 20px 10px 0
    }
}

@media only screen and (max-width: 768px) {
    #project .float-img-left {
        display: block;
        margin: 10px auto
    }
}

#project ul.sidebyside {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

#project ul.sidebyside > li.imagegroup {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-shrink: 1
}

#project ul.sidebyside > li.imagegroup img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

#project .newsentry {
    width: 200px;
    margin: 15px;
    -webkit-justify-content: center;
    justify-content: center
}

#project .newsentry img {
    width: 200px;
    max-height: 100px;
    margin: auto;
    padding: 5px
}

#project .rtventry {
    width: 200px
}

#project .constheight {
    list-style-type: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

#project .constheight img {
    width: auto
}

#project div.pseudotable > p {
    margin-top: 0
}

#project div.videocontainer {
    max-width: 560px;
    margin: 20px 0
}

#project div.videocontainer > div.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

#project div.videocontainer > div.videowrapper > iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media only screen and (min-width: 769px) {
    #project div.figure {
        margin-left: 20px
    }
}

#project div.figure .caption {
    display: block
}

@media only screen and (min-width: 769px) {
    #project div.figure .caption {
        margin-right: 10%
    }
}

#project div.captable {
    max-width: 100%
}

@media only screen and (min-width: 769px) {
    #project div.captable {
        margin-left: 20px
    }
}

#project div.captable > table {
    margin-bottom: 5px
}

@media only screen and (min-width: 769px) {
    #project div.captable > table {
        margin-left: 20px
    }
}

@media only screen and (max-width: 768px) {
    #project div.captable > table {
        margin: 0 auto
    }
}

#project div.captable > table th:first-child {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

#project div.captable > table th:last-child {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

#project div.captable > table th {
    font-weight: 700;
    padding: 5px 15px;
    text-align: center;
    color: #fff;
    background-color: #0074D9
}

#project div.captable > table td {
    padding: 3px;
    text-align: center
}

#project div.captable .caption {
    display: block
}

@media only screen and (min-width: 769px) {
    #project div.captable .caption {
        margin-right: 10%
    }
}

#code > li {
    margin: 10px
}

#code .details {
    line-height: 20px;
    min-height: 100px
}

#code .details .content {
    -webkit-flex-direction: column;
    flex-direction: column
}

#code .details ul li .header {
    min-width: 150px;
    float: left;
    font-weight: 700
}

.publications h3 {
    font-weight: 700;
    margin-top: 20px
}

.publist > li {
    margin: 10px
}

.publist ul.pub {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    line-height: 20px
}

.publist ul.pub > .pubtitle {
    font-weight: 700
}

.publist ul.pub > .pubbooktitle {
    font-style: italic
}

.publist ul.pub > .pubbooktitle > .distinction {
    color: #0074D9;
    font-weight: 700
}

.publist div.bibtex {
    display: none;
    font-family: monospace;
    padding: 10px;
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 700px
}

.publist div.bibtex > pre {
    margin: 0;
    background-color: transparent
}

ul#filter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: 20px;
    margin-top: 10px;
    list-style-type: none
}

ul#filter li {
    margin: 0
}

ul#filter li a {
    background-color: #0074D9;
    color: #fff;
    margin: 0 2px;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    cursor: pointer;
    float: left
}

ul#filter li a:visited {
    color: #fff
}

ul#filter li a:hover {
    color: #fff;
    background-color: #39CCCC
}

ul#filter li a.current {
    background-color: #001F3F
}

ul#filter li a.hover {
    background-color: #39CCCC
}

div.list_buttons {
    font-size: 15px;
    margin-top: 5px
}

.bibtexLink, .bibtexLink:link {
    background-color: #0074D9;
    color: #fff;
    margin: 0 2px;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    cursor: pointer
}

.bibtexLink:visited, .bibtexLink:link:visited {
    color: #fff
}

.bibtexLink:hover, .bibtexLink:link:hover {
    color: #fff;
    background-color: #39CCCC
}

@media only screen and (min-width: 769px) {
    div.langflag {
        float: right;
        margin: 10px;
        z-index: 10px
    }

    body {
        overflow-y: scroll
    }

    #page {
        margin: 10px 15% 20px 5%;
        padding: 30px;
        width: 80%
    }

    #main {
        position: relative;
        float: left;
        margin-left: 240px;
        width: 80%
    }

    #menubar {
        position: fixed;
        text-align: right;
        float: left;
        top: 30px;
        width: 150px;
        left: 150px;
        padding: 20px 20px 20px 0;
        border-right: 1px solid #ddd
    }
}

@media only screen and (max-width: 768px) {
    div.langflag {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 10px
    }

    #page {
        margin: 20px 10px
    }

    #menubar {
        text-align: left;
        margin-bottom: 30px
    }

    h1, h2, h3 {
        text-align: center
    }
}

pre {
    background-color: #f8f8f8;
    padding: 5px
}

@media only screen and (min-width: 769px) {
    pre {
        margin: 5px 30px 5px 30px
    }
}

@media only screen and (max-width: 768px) {
    pre {
        margin: 5px
    }
}

pre {
    word-break: normal;
    word-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap
}

pre > code {
}

pre > code .hll {
    background-color: #ffc
}

pre > code .c {
    color: #8f5902;
    font-style: italic
}

pre > code .err {
    color: #a40000;
    border: 1px solid #ef2929
}

pre > code .g {
    color: #000
}

pre > code .k {
    color: #204a87;
    font-weight: 700
}

pre > code .l {
    color: #000
}

pre > code .n {
    color: #000
}

pre > code .o {
    color: #ce5c00;
    font-weight: 700
}

pre > code .x {
    color: #000
}

pre > code .p {
    color: #000;
    font-weight: 700
}

pre > code .cm {
    color: #8f5902;
    font-style: italic
}

pre > code .cp {
    color: #8f5902;
    font-style: italic
}

pre > code .c1 {
    color: #8f5902;
    font-style: italic
}

pre > code .cs {
    color: #8f5902;
    font-style: italic
}

pre > code .gd {
    color: #a40000
}

pre > code .ge {
    color: #000;
    font-style: italic
}

pre > code .gr {
    color: #ef2929
}

pre > code .gh {
    color: #000080;
    font-weight: 700
}

pre > code .gi {
    color: #00A000
}

pre > code .go {
    color: #000;
    font-style: italic
}

pre > code .gp {
    color: #8f5902
}

pre > code .gs {
    color: #000;
    font-weight: 700
}

pre > code .gu {
    color: #800080;
    font-weight: 700
}

pre > code .gt {
    color: #a40000;
    font-weight: 700
}

pre > code .kc {
    color: #204a87;
    font-weight: 700
}

pre > code .kd {
    color: #204a87;
    font-weight: 700
}

pre > code .kn {
    color: #204a87;
    font-weight: 700
}

pre > code .kp {
    color: #204a87;
    font-weight: 700
}

pre > code .kr {
    color: #204a87;
    font-weight: 700
}

pre > code .kt {
    color: #204a87;
    font-weight: 700
}

pre > code .ld {
    color: #000
}

pre > code .m {
    color: #0000cf;
    font-weight: 700
}

pre > code .s {
    color: #4e9a06
}

pre > code .na {
    color: #c4a000
}

pre > code .nb {
    color: #204a87
}

pre > code .nc {
    color: #000
}

pre > code .no {
    color: #000
}

pre > code .nd {
    color: #5c35cc;
    font-weight: 700
}

pre > code .ni {
    color: #ce5c00
}

pre > code .ne {
    color: #c00;
    font-weight: 700
}

pre > code .nf {
    color: #000
}

pre > code .nl {
    color: #f57900
}

pre > code .nn {
    color: #000
}

pre > code .nx {
    color: #000
}

pre > code .py {
    color: #000
}

pre > code .nt {
    color: #204a87;
    font-weight: 700
}

pre > code .nv {
    color: #000
}

pre > code .ow {
    color: #204a87;
    font-weight: 700
}

pre > code .w {
    color: #f8f8f8;
    text-decoration: underline
}

pre > code .mf {
    color: #0000cf;
    font-weight: 700
}

pre > code .mh {
    color: #0000cf;
    font-weight: 700
}

pre > code .mi {
    color: #0000cf;
    font-weight: 700
}

pre > code .mo {
    color: #0000cf;
    font-weight: 700
}

pre > code .sb {
    color: #4e9a06
}

pre > code .sc {
    color: #4e9a06
}

pre > code .sd {
    color: #8f5902;
    font-style: italic
}

pre > code .s2 {
    color: #4e9a06
}

pre > code .se {
    color: #4e9a06
}

pre > code .sh {
    color: #4e9a06
}

pre > code .si {
    color: #4e9a06
}

pre > code .sx {
    color: #4e9a06
}

pre > code .sr {
    color: #4e9a06
}

pre > code .s1 {
    color: #4e9a06
}

pre > code .ss {
    color: #4e9a06
}

pre > code .bp {
    color: #3465a4
}

pre > code .vc {
    color: #000
}

pre > code .vg {
    color: #000
}

pre > code .vi {
    color: #000
}

pre > code .il {
    color: #0000cf;
    font-weight: 700
}

@-webkit-keyframes fluidboxLoading {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0)
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg)
    }
}

@keyframes fluidboxLoading {
    0% {
        transform: translate(-50%, -50%) rotateX(0) rotateY(0)
    }
    50% {
        transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0)
    }
    100% {
        transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg)
    }
}

.fluidbox {
    outline: none
}

.fluidbox__overlay {
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all .5s ease-in-out
}

.fluidbox--opened .fluidbox__overlay {
    pointer-events: auto
}

.fluidbox__wrap {
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    transition: all .5s ease-in-out
}

.fluidbox__thumb {
    transition: opacity 0s ease-in-out 0s
}

.fluidbox--closed .fluidbox__thumb {
    transition: opacity 0s ease-in-out 0s
}

.fluidbox__ghost {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    transition-property: opacity, transform;
    transition-duration: 0s, 0.5s;
    transition-delay: 0s
}

.fluidbox--opened .fluidbox__ghost {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out
}

.fluidbox--closed .fluidbox__ghost {
    transition-delay: .5s, 0s
}

.fluidbox__loader {
    -webkit-perspective: 200px;
    perspective: 200px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.fluidbox__loader::before {
    background-color: rgba(255, 255, 255, 0.85);
    content: '';
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    padding-bottom: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s
}

.fluidbox--loading .fluidbox__loader {
    opacity: 1;
    transition: opacity .5s ease-in-out .5s
}

.fluidbox--loading .fluidbox__loader::before {
    -webkit-animation: fluidboxLoading 1s 0s infinite ease-in-out forwards;
    animation: fluidboxLoading 1s 0s infinite ease-in-out forwards
}

div.picwrapper {
    width: 100%;
    text-align: center;
}

div.pic {
    /* remove float:left here */
    display: inline-block;
}